.active {
   text-decoration: underline;
   color: rgba(0, 0, 255, 0.699);
}
a {
   margin-right: 20px;
   font-size: larger;
}
.bgImg {
   background-image: linear-gradient(rgba(0, 0, 0, 0.884), rgba(0, 0, 0, 0.74)), url("../../public/Rectangle\ 4284.png");
   border-radius: 20px;
}
